<mat-card>
  
  <div><h1>Detalhes funcionário</h1></div>

  <div *ngIf="funcionario">
    <form>


      <div class="input-box">
        <mat-form-field>

          <mat-label for="">Nome:</mat-label>
          <input matInput type="text" value="{{funcionario.nome}}" disabled>

        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>

          <mat-label for="">Sobrenome:</mat-label>
          <input matInput type="text" value="{{funcionario.sobrenome}}" disabled>

      </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>

          <mat-label for="">Departamento:</mat-label>
          <input matInput type="text" value="{{funcionario.departamento}}" disabled>
          
        </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>

          <mat-label for="">Turno:</mat-label>
          <input matInput type="text" value="{{funcionario.turno}}" disabled>

      </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>

          <mat-label for="">Situação:</mat-label>
          <input matInput type="text" value="{{funcionario.ativo == true ? 'Ativo' : 'Inativo'}}" disabled>

      </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>

          <mat-label for="">Data de Criação:</mat-label>
          <input matInput type="text" value="{{funcionario.dataDeCriacao}}" disabled>

      </mat-form-field>
      </div>

      <div class="input-box">
        <mat-form-field>

          <mat-label for="">Data de alteração:</mat-label>
          <input matInput type="text" value="{{funcionario.dataDeAlteracao}}" disabled>

      </mat-form-field>
      </div>

      <div class="btn-box">
        <button mat-raised-button color="warn" (click)="InativaFuncionario()">Inativar usuário</button>
        <button [routerLink]='' routerLinkActive="router-link-active" mat-raised-button>Voltar</button>
      </div>

    </form>
  </div>

</mat-card>