/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin-block: 1rem;
  margin-inline: 5rem;
}

.funcionario-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  margin-inline: .5rem;
  padding-left: .5rem;
  border: none;
  border-radius: 30px;
  background-color: #e9edc9;
}

button {
  border: none;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 25px;
  background-color: #84a98c;
  margin-inline: .5rem;

  a {
    text-decoration: none;
    color: black;
  }
}

button:hover {
  background-color: #52796f;
  transition: .5s;
}


.cadastro-btn {
  padding-inline: 1.5rem;

}

.del-btn {
  background-color: #ee6c4d;
}

.del-btn:hover {
  background-color: #e95e3c;
}

.input-box {
  margin-block: 2rem;
}

.dot-active {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.dot-inactive {
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}